* {
    padding: 0;
    margin: 0;
}

/* Page transition */
.page-enter-active,
.page-leave-active {
  transition: all .3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* Text slide animation */
.text-slide-enter-active, .text-slide-down-leave-active {
	transition: transform .25s ease-in-out, opacity .25s ease-in-out;
}
.text-slide-enter-from {
	opacity: 0;
	transform: translateY(-100%);
}
.text-slide-leave-to {
	opacity: 0;
	transform: translateY(100%);
}

/* p-card-content removing paddings */
.p-card.p-card-content-pb-0 .p-card-content {
    padding-bottom: 0 !important;
}
.p-card.p-card-content-pt-0 .p-card-content {
    padding-top: 0 !important;
}

/* health-component-body border joining */
.p-card.health-component-body:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.p-card.health-component-body:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Enabling wrap in p-multiselect */
.p-multiselect-item,
.p-multiselect-label {
    white-space: normal !important;
}
.p-multiselect-token {
    margin: 0.2rem;
    margin-left: 0;
}
.p-multiselect-panel .p-multiselect-items {
    padding: 0;
}

/* Colored p-selectbuttons */
.p-selectbutton.select-health-group {
    display: flex;
    width: 100%;
}
.p-selectbutton.select-health-group .p-button {
    flex: 1;
    transition: background-color 0.2s, color 0s, border-color 0.2s, box-shadow 0.2s !important;
}

.p-selectbutton.select-health-group .p-button:nth-child(1).p-highlight {
    border-color: var(--green-400);
    background: var(--green-400);
}
.p-selectbutton.select-health-group .p-button:nth-child(1):not(.p-disabled):not(.p-highlight):hover {
    border-color: hsl(142, 14%, 83%);
    background: hsl(142, 60%, 91%);
}
.p-selectbutton.select-health-group .p-button:nth-child(1):focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px hsl(142, 70%, 73%), 0 1px 2px 0 black;
}

.p-selectbutton.select-health-group .p-button:nth-child(2).p-highlight {
    border-color: var(--yellow-400);
    background: var(--yellow-400);
}
.p-selectbutton.select-health-group .p-button:nth-child(2):not(.p-disabled):not(.p-highlight):hover {
    border-color: hsl(45, 14%, 83%);
    background: hsl(37, 90%, 92%);
}
.p-selectbutton.select-health-group .p-button:nth-child(2):focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px hsl(38, 92%, 75%), 0 1px 2px 0 black;
}

.p-selectbutton.select-health-group .p-button:nth-child(3).p-highlight {
    border-color: var(--red-400);
    background: var(--red-400);
}
.p-selectbutton.select-health-group .p-button:nth-child(3):not(.p-disabled):not(.p-highlight):hover {
    border-color: hsl(3, 14%, 83%);
    background: hsl(0, 82%, 94%);
}
.p-selectbutton.select-health-group .p-button:nth-child(3):focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px hsl(0, 84%, 80%), 0 1px 2px 0 black;
}

/* Colores p-checkboxes */
.p-checkbox.p-checkbox-green .p-checkbox-box.p-highlight,
.p-checkbox.p-checkbox-green .p-checkbox-box.p-highlight:hover {
    border-color: var(--green-500);
    background: var(--green-500);
}
.p-checkbox.p-checkbox-green:not(.p-checkbox-disabled) .p-checkbox-box:hover,
.p-checkbox.p-checkbox-green:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: var(--green-500);
    box-shadow: 0 0 0 0.2rem hsl(142, 96%, 89%);
}

.p-checkbox.p-checkbox-yellow .p-checkbox-box.p-highlight,
.p-checkbox.p-checkbox-yellow .p-checkbox-box.p-highlight:hover {
    border-color: var(--yellow-500);
    background: var(--yellow-500);
}
.p-checkbox.p-checkbox-yellow:not(.p-checkbox-disabled) .p-checkbox-box:hover,
.p-checkbox.p-checkbox-yellow:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: var(--yellow-500);
    box-shadow: 0 0 0 0.2rem hsl(45, 96%, 89%);
}

.p-checkbox.p-checkbox-red .p-checkbox-box.p-highlight,
.p-checkbox.p-checkbox-red .p-checkbox-box.p-highlight:hover {
    border-color: var(--red-500);
    background: var(--red-500);
}
.p-checkbox.p-checkbox-red:not(.p-checkbox-disabled) .p-checkbox-box:hover,
.p-checkbox.p-checkbox-red:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    border-color: var(--red-500);
    box-shadow: 0 0 0 0.2rem hsl(3, 96%, 89%);
}
